<table>
    <theader>
        <tr>
            <th></th>
        {% for name, pretty_name in col_names %}
            <th>{{ pretty_name }}</th>
        {% endfor %}
            <th>OVERALL</th>
        </tr>
    </theader>
    <tbody>
        {% for row in rows %}
        <tr>
            <th>{{ row.pretty_name }}</th>
            {% for value in row.values %}
            <td>{{ value }}</td>
            {% endfor %}
            <td>{{ row.overall }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>OVERALL</th>
        {% for col_overall in col_overalls %}
            <td>{{ col_overall }}</td>
        {% endfor %}
            <td>{{ overall }}</td>
        </tr>
    </tfoot>
</table>
